/* This where all the layout styles will go */
body {
  background-color: $default-grey;
  color: $default-grey;
}

.skill-container {
  padding: 50px 0;
}


/*This makes all headers the dynamic blue theme color*/
h1,h2,h3,h4,h5,h6 {
  padding-left: 0;
  color: lighten($main-color, 5%);
  font-weight: 100;
}

/* custom bullet colors to the main blue theme */
.blue-list {
  ul {

    list-style: none;
    padding:0;
    margin:0;
  }

  li {
    margin: 0 0 7px 0;
    padding-bottom: 3px;
    text-indent: 10px;
    border-bottom: 1px solid lighten($default-grey, 30%);
  }

  li:before {
    content: "\002022 ";
    padding-right: 10px;
    color: $main-color;
  }
}
