/* all the menu styles */
nav {
  margin: 0 0;
}

.skill-assess-menu {
  border-bottom: 1px solid lighten($default-grey, 100);
  background-color: $dark-default-grey;
  display: inline-block;
  position: relative;
  font: $menu-font-size $default-font;
  color: $link-color;
  min-height: 45px;
  width: 100%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;

      :last-child {
        border-right: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }

      li {
        border-right: 1px solid lighten($dark-default-grey, 4%);
        float: left;
        display: inline-block;
        padding: 10px 15px;
        text-transform: uppercase;
        box-shadow: 1px 0 darken($dark-default-grey, 4%);
        -webkit-box-shadow: 1px 0 darken($dark-default-grey, 4%);
        -moz-box-shadow: 1px 0 darken($dark-default-grey, 4%);

        a {
          background-color: $dark-default-grey;
          color: $link-color;
          text-decoration: none;
          transition: color 250ms ease;
        }


        a:hover {
          text-decoration: none;
          color: $main-color;
        }
      }
    }
}

.drop-down-office {
  position: relative;
}

/*the office locations drop down box */
#office-locations {
  position: absolute;
  top: 59px;
  left: 46.75%;

  ul {
    list-style-type: none;
    text-align: left;

    :last-child {
      margin-bottom: 0;
    }
  }

  li {
    background-color: $dark-default-grey;
    padding: 5px 20px;
    font-size: 12pt;
  }

  li:first-child {
    background-color: $dark-default-grey;
    padding-top: 20px;
  }

  li:last-child {
    background-color: $dark-default-grey;
    padding-bottom: 20px;
  }

  li:before {
    content: "\002022 ";
    padding-right: 10px;
    color: $link-blue;
  }
}