@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* color defaults */
/* menu variables */
/*font sizes */
/* padding variables */
/*media query variables*/
/*custom menu widths */
/* media query font sizes */
/* This where all the layout styles will go */
body {
 /*
 Allow angular.js to be loaded in body, hiding cloaked elements until
 templates compile.  The !important is important given that there may be
 other selectors that are more specific or come later and might alter display.
*/
  font-family: "Century Gothic", "Open Sans", Arial, Helvetica;
  background-color: #666;
  color: #666; }
  body [ng\:cloak], body [ng-cloak], body .ng-cloak {
    display: none !important; }

a {
  color: #fff;
  transition: color 200ms ease-in-out; }

a:hover {
  text-decoration: none;
  color: #66cccc; }

.skill-container {
  padding: 50px 0; }

/*This makes all headers the dynamic blue theme color*/
h1, h2, h3, h4, h5, h6 {
  padding-left: 0;
  color: #79d2d2;
  font-weight: 100; }

/* custom bullet colors to the main blue theme */
.blue-list ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .blue-list ul :last-child {
    border-bottom: 0px; }
.blue-list li {
  margin: 0 0 7px 0;
  padding-bottom: 3px;
  text-indent: 10px;
  border-bottom: 1px solid #b3b3b3; }
.blue-list li:before {
  content: "\002022 ";
  padding-right: 10px;
  color: #66cccc; }

/* header styles */
header {
  height: 307px;
  background: url("../img/etna-skill-test.png") no-repeat center;
  background-size: cover;
  padding: 0 15px;
  margin-top: -5px; }

/* all the menu styles */
nav {
  margin: 0 0; }

.skill-assess-menu {
  border-bottom: 1px solid white;
  background-color: #333333;
  display: inline-block;
  position: relative;
  font: 23pt "Century Gothic", "Open Sans", Arial, Helvetica;
  color: #fff;
  min-height: 45px;
  width: 100%; }
  .skill-assess-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .skill-assess-menu ul :last-child {
      border-right: 0px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    .skill-assess-menu ul li {
      border-right: 1px solid #3d3d3d;
      float: left;
      display: inline-block;
      padding: 10px 15px;
      text-transform: uppercase;
      box-shadow: 1px 0 #292929;
      -webkit-box-shadow: 1px 0 #292929;
      -moz-box-shadow: 1px 0 #292929; }
      .skill-assess-menu ul li a {
        background-color: #333333;
        color: #fff;
        text-decoration: none;
        transition: color 250ms ease; }
      .skill-assess-menu ul li a:hover {
        text-decoration: none;
        color: #66cccc; }

.drop-down-office {
  position: relative; }

/*the office locations drop down box */
#office-locations {
  position: absolute;
  top: 59px;
  left: 46.75%; }
  #office-locations ul {
    list-style-type: none;
    text-align: left; }
    #office-locations ul :last-child {
      margin-bottom: 0; }
  #office-locations li {
    background-color: #333333;
    padding: 5px 20px;
    font-size: 12pt; }
  #office-locations li:first-child {
    background-color: #333333;
    padding-top: 20px; }
  #office-locations li:last-child {
    background-color: #333333;
    padding-bottom: 20px; }
  #office-locations li:before {
    content: "\002022 ";
    padding-right: 10px;
    color: #66cccc; }

/* styles for the right side content */
.etna-information {
  background-color: white;
  padding: 35px 30px 30px 30px;
  font-size: 16pt; }
  .etna-information p {
    font-size: 16pt;
    padding-top: 20px; }
  .etna-information a {
    text-decoration: underline;
    color: #66cccc; }
  .etna-information a:hover {
    color: #40bfbf; }
  .etna-information .fa-caret-up {
    color: #79d2d2; }
  .etna-information .back-to-top {
    font-size: 14pt;
    color: #666;
    text-decoration: none; }
  .etna-information .pull-right {
    margin-bottom: 0; }

/*blue box well styling */
.blue-box-well {
  margin-top: 30px;
  padding: 30px;
  background-color: #b3e6e6;
  border-radius: 15px;
  min-height: 150px;
  color: #666; }
  .blue-box-well p {
    font-size: 14pt;
    margin: 0;
    padding: 0; }
  .blue-box-well hr {
    color: white;
    margin-top: 0; }
  .blue-box-well .well-heading {
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 36pt; }
    .blue-box-well .well-heading strong {
      font-weight: bold;
      color: white; }

#etna-side-bar {
  background-color: #e6e6e6;
  padding: 35px 30px 30px 30px;
  min-height: 854px;
  font-size: 15pt; }

/*contact button styles */
.contact-container-button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#1a1a1a));
  margin: 40px 0 0 0;
  padding: 0 0;
  box-shadow: 0 0 10px #333333;
  -webkit-box-shadow: 0 0 10px #333333;
  -moz-box-shadow: 0 0 10px #333333; }
  .contact-container-button a {
    color: #fff;
    text-decoration: none;
    font-size: 30pt;
    font-weight: 100; }
  .contact-container-button #aside-contact-us {
    padding: 17px 0 17px 15px; }
  .contact-container-button #aside-caret-right {
    background-image: linear-gradient(to right, black, #333333);
    padding-top: 25px;
    padding-bottom: 25px; }
    .contact-container-button #aside-caret-right .fa-caret-right {
      display: flex;
      justify-content: center; }

/* this is for all the media queries */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .skill-container {
    padding-top: 0; }

  /*drop down menu for office locations */
  #office-locations {
    visibility: hidden; }

  .skill-assess-menu li {
    width: 50%;
    font-size: 15pt; }

  /* header adjustments for mobile */
  header {
    height: 256px; }

  /*Etna test side bar media query styles */
  #etna-side-bar {
    min-height: 430px;
    padding-top: 20px;
    padding-bottom: 20px; }
    #etna-side-bar h1 {
      font-size: 18pt; }
    #etna-side-bar body, #etna-side-bar ul, #etna-side-bar li {
      font-size: 12pt; }
    #etna-side-bar .contact-container-button a {
      font-size: 16pt; }

  /*Etna content driven media query styles */
  .etna-information {
    padding-top: 20px;
    font-size: 12pt;
    min-height: 650px; }
    .etna-information p {
      font-size: 12pt; }
    .etna-information h1 {
      font-size: 18pt; }
    .etna-information .well-heading {
      font-size: 18pt; }

  .etna-footer {
    padding-top: 20px; }
    .etna-footer ul {
      padding-bottom: 10px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .skill-assess-menu li {
    display: block;
    width: 100%;
    font-size: 16pt; }

  /*header image adjustments for mobile */
  header {
    background: url("../img/etna-skill-test-768.png") no-repeat 70% 70%;
    background-size: cover; }

  .etna-information {
    height: 1090px; } }
/* this is where all the footer styles will be going */
.etna-footer {
  padding: 30px;
  color: white; }
  .etna-footer ul {
    padding-left: 0;
    padding-right: 30px;
    color: white;
    float: left;
    list-style-type: none;
    margin: 0; }

/*# sourceMappingURL=styles.css.map */
